body {
  background-color: #fffded;
  color: #5b5236;
  vertical-align: middle;
  text-align: center;
  font-size: 1.2em;
  margin: 0px;
  z-index: 1;
}

li {
  display: inline;
  font-size: 1em;
  padding: 0 4em;
}

a {
  color: #5b5236;
}

h2 {
  padding-bottom: 5%;
}
h4 {
  text-align: center;
  padding-bottom: 2%;
}
.logo.img-fluid {
  width: 150px;
  margin-bottom: -3%;
}
.img-fluid.bg.top {
  /* width: 100%;
  position: relative;
  margin: -28% auto 0%;
  z-index: -1; */

  object-fit: cover;
  width: 100%;
  height: 100vh;
  position: relative;
  margin: 0% auto;
  z-index: -1;
}

.navbar {
  display: inline-block;
  text-align: center;
  position: relative;
  margin-top: 2%;
}

div.jumbotron.top {
  position: sticky;
  width: 75%;
  padding: 2%;
  margin: -427px auto 0;
  text-align: center;
  background: rgba(255, 255, 255, 0.6);
}
.jumbotron h1 {
  font-size: 3.5em;
}

#services.container-fluid {
  margin: 20% auto 10% auto;
  max-width: 75%;
}
#services.container-fluid h1 {
  margin: 10% auto 5% auto;
}

.col.text {
  padding: 0%;
  line-height: 2em;
}

.col.img {
  padding: 0;
}

#payments.container-fluid {
  margin: 5% auto 5% auto;
  display: block;
  max-width: 75%;
}

#about.jumbotron {
  position: relative;
  width: 75%;
  padding: 2%;
  margin: 0 auto;
  text-align: center;
  background: #888373;
}

.jumbotron.about2 {
  background-color: #fff;
}
#abouttext.container-fluid {
  width: 75%;
}
img.logo-bottom {
  width: 150px;
}
.footer {
  display: block;
  margin-top: 5%;
  padding: 0% 12%;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #888373;
  color: white;
  text-align: center;
}
.logo-bottom {
  width: 10%;
  margin-bottom: 1%;
}
.footer h2 {
  padding: 2% 0;
}

@media (max-width: 1300px) {
  div.jumbotron.top {
    width: 90%;
  }
}

@media (min-width: 1200px) {
  .img-fluid.bg.top {
    margin-top: -10%;
  }
}
/* @media (max-width: 1200px) and (min-height: 300px) and (orientation: landscape) {
div.jumbotron.top {
  margin: -350px auto 10%;
  width: 90%;
} */
@media (max-width: 1201px) {
  .jumbotron.top h1 {
    font-size: 3em;
  }

  h1 {
    font-size: 1.5em;
  }

  h2 {
    font-size: 1.2em;
  }
  h3 {
    font-size: 1em;
  }
  p {
    font-size: 0.9em;
  }
  .navbar {
    display: block;
    position: fixed;
    text-align: left;
    margin: 0px;

    z-index: 1;
  }
  #services.container-fluid {
    margin: 30% auto 10% auto;
  }

  div.navbar-collapse.collapse.show {
    background-color: white;
  }
  div.jumbotron.top {
    margin: -500px auto 10%;
    width: 90%;
  }
}

@media (max-width: 992px) and (min-height: 300px) {
  .jumbotron.top h1 {
    font-size: 2.3em;
  }

  .about .img-fluid {
    width: 45%;
  }
  #services.container-fluid {
    margin: 30% auto 10% auto;
  }
  div.jumbotron.top {
    margin: -260px auto 10%;
    width: 90%;
  }
}
@media (max-width: 900px) {
  div.jumbotron.top {
    /* margin: -45% auto 10%; */
    width: 90%;
  }
  /* #services.container-fluid {
    margin: 15% auto 10% auto;
  } */
}

@media (max-width: 800px) {
  .jumbotron.top h1 {
    font-size: 1.7em;
  }

  #services.container-fluid {
    margin: 30% auto 10% auto;
  }
  #abouttext.container-fluid {
    width: 100%;
  }
  #about.jumbotron {
    width: 90%;
  }
}
@media (max-width: 700px) {
  #services.container-fluid {
    margin: 25% auto 10% auto;
  }
  #abouttext.container-fluid {
    width: 90%;
  }
}
@media (max-width: 600px) and (min-height: 300px) {
  div.jumbotron.top {
    margin: -250px auto 10%;
  }
  /* #services.container-fluid {
    margin: 55% auto 10% auto;
  } */
}
@media (max-width: 510px) {
  /* div.jumbotron.top {
    margin: -75% auto 10%;
    width: 90%;
  } */
  /* #services.container-fluid {
    margin: 45% auto 10% auto;
  } */
}
/* @media (max-width: 570px) and (min-height: 300px) and (orientation: landscape) {
  div.jumbotron.top {
    margin: -550 auto 0;
    width: 90%;
  }
} */
@media (max-width: 400px) {
  #services.container-fluid {
    margin: 35% auto 10% auto;
  }
  div.jumbotron.top {
    margin: -250 auto 0;
    width: 90%;
  }
}
